/* Zoe Wood * Spotify Search * HW1 * October 8, 2015 */

body{
	background-color: #272727; 
	align: center; 
}

h1{
	text-align: center; 
}

.jumbotron{
	background-color: #302F2F;
	color: white;  
}

#button-search{
	background-color: #2ED565; 
	color: #302F2F
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
#more{
	background-color: #2ED565; 
	color: #302F2F
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
#refresh{
	background-color: #2ED565;
	color: #302F2F 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

p{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	text-align: center; 
}
